body{
  position: relative;
  background-color: #ffffff;
  width: 750px;
  margin: 0 auto;
  text-align: justify;
}

.main-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(111, 221, 216);
  overflow: hidden;
  
}

.nav-list li{
  display: inline;
}

.nav-list a:hover{
  background-color: rgb(115, 128, 185);
}

.nav {
  display: inline;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.active {
  background-color: rgb(145, 187, 235);
}

h1{
  text-align: center;
  /* background-color: dodgerblue; */
}

h3{
  clear: left; 
  width: 320px;
  background-color: #fff;
  color: #d6510a;
  text-align: center;}

#welcome{
  text-align: center;
  font: italic;
  font-weight: bold;
}

.question{
  text-align: center;
  font-weight: bold;
}

.button{
  text-align: center;
  
}

#math {
  text-align: center;

}

.page-content li{
  list-style-type: none;
  /* padding: 10px; */
  position: relative;
  padding-left: 20px;
}

.page-content li:before{
  content: "\25BA \0020";
  position: absolute;
  top: 5px;
  left: -10px;
}


img{
  float: left;
  width: 250px;
  height: 250px;
  padding: 25px;
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  /* margin: 0 0 0 0; */
  /* transition-duration: 2000ms; */
}
img .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
/* img .back {
  transform: rotateY(180deg);
} */


img:hover {
  /* background-color: rgb(115, 128, 185); */
  transform: rotateY(180deg);
}

footer{
  text-align: center;
  background-color: rgb(111, 221, 216);
  padding: 5px;
  margin: 15px;
}